* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar {
   display: none;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: orange;
   flex-direction: column;
   padding: 60px;
}

.title h1 {
   margin: auto;
   margin-top: 20px;
   letter-spacing: 0.0015em;
   font-size: 5em;
   text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
      -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
      -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
      -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
   text-align: center;
}

.wrapper {
   text-align: center;
   margin-top: 30px;
   color: ghostwhite;
}

.wrapper i:hover {
   cursor: pointer;
   transition: .6s;
   transform: scale(1.5);
}


.levels {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;
}

.levels a {
   text-decoration: none;
   margin: 20px;
   font-size: 2.2rem;
   padding: 10px;
   cursor: pointer;
   transition: .7s ease-in-out;
   font-family: 'Courier New', Courier, monospace;
}

.levels a:hover {
   transform: scale(1.1);
   color: cornsilk;
}

/* easy */

.container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: #fff;
   padding: 20px 40px;
}

.container h1 {
   font-size: 2rem;
   color: grey;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.controls {
   display: flex;
   margin-left: 300px;
   flex-direction: column;

}

.reset {
   padding: 15px 20px;
   color: rgb(0, 0, 0);
   background: rgb(255, 197, 89);
   border: none;
   outline: none;
   font-size: 1rem;
   letter-spacing: 1px;
   cursor: pointer;
   font-weight: 500;
}

.reset:focus {
   color: #fff;
   background: orange;
}

.game {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}



.item {
   position: relative;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   background-color: orange;
   transition: .3s;
   transform: rotateY(180deg);
   margin: 5px;
}

.item::after {
   content: "";
   position: absolute;
   inset: 0;
   background-color: rgb(251, 214, 3);
   transition: .5s;
   transform: rotateY(0deg);
   backface-visibility: hidden;
}

.item.openBox {
   transform: rotateY(0deg);
}

.openBox::after {
   transform: rotateY(180deg);
}

.openBox::after,
.matchBox:after {
   transform: rotateY(180deg);
}

/* popup */

.popup, .popup_over {
   display: flex;
   flex-direction: column;
   width: 400px;
   background: #fff;
   border-radius: 7px;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform .4s, top .4s;
}

.open-popup {
   visibility: visible;
   top: 50%;
   transform: translate(-50%, -50%) scale(1);
}


.popup h2, .popup_over h2 {
   font-size: 38px;
   font-weight: 500;
   margin: 30px 0 10px;
   text-decoration: none;
}

.popup button, .popup_over button {
   width: 100%;
   margin-top: 50px;
   padding: 10px 0;
   background: #6fd649;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.4);
}

.popup button, .popup_over button a {
   text-decoration: none;
}

/* medium */

.gameMedium {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   transform-style: preserve-3d;
   perspective: 500px;
}

.hide {
   opacity: 0;
   transition: 2s;
}

.gameHard {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}